.cercle {
    background-color: #E57A44;
    font-family: 'Poppins',;
    width: 104px;
    height: 104px;
}

h1 {
    font-family: 'DM Sans', ;
    font-weight: bold;
}

h2 {
    font-family: 'DM Sans', ;
    font-weight: bold;
}

p {
    font-family: 'poppins',;
}