body {
  background-color: #6c9a8f81;
  color: #3D3D3D;

}

.titre-accueil {
    font-family: 'DM Sans',;
    font-weight: bold;

  }
  
  .p-accueil {
    font-family: 'poppins',;
  }
  
  .btn-custom {
    border: none;
    background-color: #E57A44;
    border-radius: 30px;
  }

  .btn-custom:hover {
    background-color: #e57a44cc;
  }