body {
  background-color: #6c9a8f81;
}


.navbar-color {
  background-color: #6C9A8F;
}

.navbar-toggler-color {    
  background-color: white;
  margin-left: auto;
  border: none;
}

.navbar-height {
  max-height: 100px;
}

.nav-link {
  color: white
}

.text_home {
  justify-content: center;
}

.titre_accueil {
  font-family: 'DM Sans',;
  font-weight: bold;
  text-align: center;
}

.p_accueil {
  font-family: 'poppins',;
  text-align: center;
}

.btn_custom {
  border: none;
  background-color: #E57A44;
  border-radius: 30px;
}