body {
  background-color: #6c9a8f54;
  font-family: 'Poppins', sans-serif;
  color: #3D3D3D;
  padding-top: 76px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
} 


.btn-custom {
  border: none;
  background-color: #E57A44;
  border-radius: 30px;
}

.btn-custom:hover {
  background-color: #e57a44cc;

}

.btn-custom:active {
  background-color: #e57a44cc !important;
}


.list-style {
  background-color: #f4f8f6;
}

.calendrier {
  min-width: 320px ;
  height: 700px;

}

.card {
  border: none;
  border-radius: 10px;
}

.card-style {
  background-color: #f4f8f6;
  transition: 250ms ease-in;

}  

.card-style:hover {
  transform: scale(1.1);
}

.card-title {
  font-weight: bold;
}


.form-style {
  background-color: #6C9A8F;
}


.cercle-style {
  background-color: #E57A44;
  width: 104px;
  height: 104px;
  transition : 250ms ease;
  box-shadow: 0 0px 15px #3d3d3d8b;
}

.cercle-style:hover {
  box-shadow: 0 0px 25px #E57A44;
}

.navbar-color {
  background-color: #6C9A8F !important;
}

.navbar-toggler-color {    
  background-color: white;
  margin-left: auto;
  border: none;
}

.nav-link {
  color: white
}